@import "../utilities/variables";
@import "../utilities/mixins";

footer {
    margin-top: auto;
    width: 100%;
    padding: 2rem 8%;
    background-color: $color-sexto;
    @include flexCentrado;
    flex-direction: column;
    .social-icons-container, .footer-menu-container {
        @include flexCentrado;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .social-icon{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid $color-dos;
        background-image: url("../Img/FacebookBlanco.png");
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        margin: 1rem;
        &:hover {
            background-color: $color-quinto;
            filter: invert(1);
        }
    }
    .social-icon:nth-of-type(2){
        background-image: url("../Img/InstagramBlanco.png");
        background-size: 60%;
    }
    .social-icon:nth-of-type(3){
        background-image: url("../Img/LinkedinBlanco.png");
    }
    .social-icon:nth-of-type(4){
        background-image: url("../Img/TwitterBlanco.png");
    }
    
    .copyright{
        color: $color-dos;
        opacity: 0.3;
        text-align: center;
    }    

}
