@import "../utilities/variables";
@import "../utilities/mixins";

#pag-cuenta {
    background: $color-cuatro;
}
.login-box {
    max-width: 1170px;
    margin: 10rem auto auto auto;
    width: 400px;
    padding: 40px;
    background: $color-quinto;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    border-radius: 10px;
    h2 {
        margin: 0 0 36px;
        padding: 0;
        color: $color-dos;
        text-align: center;
    }
    .user-box {
        input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: $color-dos;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid $color-dos;
            outline: none;
            background: transparent;
            &:focus+label, &:valid+label {
                top: -85px;
                left: 0;
                color: $color-uno;
                font-size: 12px;
            }
        }
        label {
            position: relative;
            left: 0;
            top: -60px;
            padding: 10px 0;
            font-size: 16px;
            color: $color-dos;
            pointer-events: none;
            transition: .5s;
            
        }
    }
    .button-form{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    #submit {
        padding: 10px 20px;
        color: #CBBDDB;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        letter-spacing: 4px;
        border: 1px solid $color-uno;
        margin: auto;
        &:hover {
            background: $color-uno;
            color: $color-dos;
            border-radius: 5px;
            box-shadow: 0 0 5px $color-uno, 0 0 25px $color-uno, 0 0 50px $color-uno, 0 0 100px $color-uno;
        }
    }
    #register{
        font-size: 14px;
        text-decoration: none;
        color: #cbbddb;
        margin: auto;
        width: 60%;
        text-align: center;
        a {
            margin: auto;
            color: $color-uno;
        }
    }
}
.separador_cuenta{
    display: none;
    
}
}
@media (max-width:500px){
    .login-box {
        width: 240px;
        padding: 30px;
        margin-bottom: 10rem;
        .button-form{
            flex-direction: column;
            gap: 2rem;
        }
    }
}