@import "../utilities/variables";
@import "../utilities/mixins";

#cronograma{
    background-color: $color-gris;}

.cronograma {
    @include flexCentrado;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: $color-quinto;
    h3{
        margin-top: 8rem;
        font-size: 3rem;
    }
    h4{
        font-size: 2rem;
    }
    p{
        margin: 0 16rem 0 16rem;
        padding-bottom: 2rem;
        border-bottom: 7px solid $color-uno;
    }
    .pfinal {
        margin-bottom: 3rem;
    }
}

@media(max-width: 760px){
    .cronograma {
        p{
            margin: 0 3rem 0 3rem;
        }
    }
}

