#pag-video {
    background-color: #cecece;
}
.videos {text-align: center;
iframe {
    margin: 3rem;
}
h2:nth-child(1){
    margin-top: 5.5rem;
}
h2 {
    background-color: $color-uno;
    height: auto;
    font-size: 5rem;
    color: $color-dos;
    font-weight: bold;
    padding: 1rem;
}
}

@media screen and (max-width: 582px){
    .videos{
        h2 {
        font-size: 3rem;
        }
        iframe {
            height: 270px;
            width: 300px;
        }
    }
}

@media screen and (max-width: 412px){
    .videos{
        h2 {
        font-size: 2rem;
        }
        iframe {
            height: 270px;
            width: 150px;
        }
    }
}